@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Nunito:700");

@font-face {
  font-family: "Impact-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Impact-Regular") format("truetype");
}

* {
  box-sizing: border-box;
}
.button {
  align-items: center;
  background-color: var(--flamenco);
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 470px;
  min-width: 206px;
  mix-blend-mode: normal;
  padding: 0 22px;
}
.button-i30116965 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 160px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
  .header {
    align-items: center;
    background-color: var(--cinder);
    display: flex;
    height: 96px;
    min-width: 1366px;
    mix-blend-mode: normal;
    padding: 0 72px;
    position: relative;
  }
  .a-navbar {
    color: white;
    font-family: var(--font-family-lora);
    font-size: var(--font-size-s2);
    letter-spacing: 0;
    line-height: 32px;
    margin-left: 40px;
    min-height: 34px;
    min-width: 95px;
    mix-blend-mode: normal;
    text-align: center;
    white-space: nowrap;
    width: 95px;
  }

.a-navbar:link{
  text-decoration: none;
}

.a-navbar:active{
  color: var(--sunset-orange);
}

.a-navbar:hover{
  text-decoration: underline;
  color: var(--sunset-orange);

}

.rectangle-56 {
  background-color: var(--sunset-orange);
  height: 2px;
  mix-blend-mode: normal;
  width: 43px;
}
.sections {
  align-items: center;
  display: flex;
  height: 34px;
  min-width: 546px;
}
.title {
  color: var(--white);
  font-family: var(--font-family-impact-regular);
  font-size: var(--font-size-m2);
  letter-spacing: 0.24px;
  line-height: 24px;
  min-height: 24px;
  min-width: 52px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
  
  
  
  
  :root {
      --cinder
    : rgba(15, 14, 23, 1);
      --spun-pearl
    : rgba(167, 169, 190, 1);
      --sunset-orange
    : rgba(242, 95, 76, 1);
      --flamenco
    : rgba(255, 137, 6, 1);
      --white
    : rgba(255, 255, 254, 1);
    
      --font-size-xs
    : 16px;
      --font-size-s
    : 20px;
      --font-size-m
    : 24px;
      --font-size-l
    : 32px;
      --font-size-xl
    : 40px;
      --font-size-xxl
    : 48px;
      --font-size-xxxl
    : 64px;
    
      --font-family-impact-regular
    : "Impact-Regular";
      --font-family-lora
    : "Lora";
      --font-family-nunito
    : "Nunito";
    }
    .nunito-bold-white-48px
     {
      color: var(--white);
      font-family: var(--font-family-nunito);
      font-size: var(--font-size-xxl);
      font-weight: 700;
      font-style: normal;
    }
    .nunito-bold-cinder-48px
     {
      color: var(--cinder);
      font-family: var(--font-family-nunito);
      font-size: var(--font-size-xxl);
      font-weight: 700;
      font-style: normal;
    }
    .nunito-bold-white-24px
     {
      color: var(--white);
      font-family: var(--font-family-nunito);
      font-size: var(--font-size-m);
      font-weight: 700;
      font-style: normal;
    }
    .nunito-bold-white-16px
     {
      color: var(--white);
      font-family: var(--font-family-nunito);
      font-size: var(--font-size-xs);
      font-weight: 700;
      font-style: normal;
    }
    .lora-normal-cinder-24px
     {
      color: var(--cinder);
      font-family: var(--font-family-lora);
      font-size: var(--font-size-m);
      font-weight: 400;
      font-style: normal;
    }
    .lora-normal-white-20px
     {
      color: var(--white);
      font-family: var(--font-family-lora);
      font-size: var(--font-size-s);
      font-weight: 400;
      font-style: normal;
    }
    .lora-bold-sunset-orange-20px
     {
      color: var(--sunset-orange);
      font-family: var(--font-family-lora);
      font-size: var(--font-size-s);
      font-weight: 700;
      font-style: normal;
    }
    .lora-normal-white-24px
     {
      color: var(--white);
      font-family: var(--font-family-lora);
      font-size: var(--font-size-m);
      font-weight: 400;
      font-style: normal;
    }
    .lora-normal-spun-pearl-24px
     {
      color: var(--spun-pearl);
      font-family: var(--font-family-lora);
      font-size: var(--font-size-m);
      font-weight: 400;
      font-style: normal;
    }
    .nunito-bold-flamenco-16px
     {
      color: var(--flamenco);
      font-family: var(--font-family-nunito);
      font-size: var(--font-size-xs);
      font-weight: 700;
      font-style: normal;
    }
    .border-2px-flamenco
     {
      border-width: 2px;
      border-style: solid;
      border-color: var(--flamenco);
    }
    .lora-normal-cinder-32px
     {
      color: var(--cinder);
      font-family: var(--font-family-lora);
      font-size: var(--font-size-l);
      font-weight: 400;
      font-style: normal;
     }